* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  background-color: #FFC0CB;
}
body {
  height: 100vh;
}
img {
  max-width: 100%;
}

.sliderGame {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container {
  display: grid;
  width: 25em;
  height: 25em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 8em;
}
.content {
  padding: 2em 0;
  width: 1100px;
  margin: 0 auto;
  padding: 10px;
  border: calc(2*10px) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*10px);
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
  
}
.originalImage {
  width: 25em;
  height: 25em;
}

.imageContainer {
  border: 1px solid #ffffff;
}

.coverScreen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFC0CB;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startBtn {
  font-size: 1.2em;
  padding: 0.8em 2em;
  border: none;
  border-radius: 3em;
  cursor: pointer;
}

#moves {
  position: relative;
  margin: 2em;
  text-align: center;

}

.hide {
  display: none;
}

