* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#FFFFCA 50%, red 50%);
}

.container {
    width: 28em;
    background-color: #fff;
    padding: 6em 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
    box-shadow: 0 45px 60px rgba(30, 22, 1, 0.3);
}

.inputField {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input {
    height: 3em;
    width: 3em;
    border: 2px solid #DAD9DF;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #fff;
    -moz-apperance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#submit {
    background-color: red;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0.8em;
    color: black;
    cursor: pointer;
    border-radius: 2em;
    margin: 1em auto 0 auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.input:disabled {
    color: #89888B;
}

.input:focus {
    border: 3px solid ;
}